# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Binaries
src/cat/cat
src/chio/chio
src/chmod/chmod
src/cp/cp
src/date/date
src/dd/dd
src/df/df
src/domainname/domainname
src/echo/echo
src/ed/ed
src/expr/expr
src/hostname/hostname
src/kill/kill
src/ln/ln
src/ls/ls
src/md5/md5
src/mkdir/mkdir
src/mv/mv
src/ps/ps
src/pwd/pwd
src/rm/rm
src/rmdir/rmdir
src/sh/sh
src/sleep/sleep

bin/

# config
.fast

# Nix
.direnv
.envrc
result

# config
.cache
compile_commands.json
.pre-commit-config.yaml
